My_workflow_4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        360,
        -160
      ],
      "id": "06f1483a-c3d0-4435-a718-cc8105278885",
      "webhookId": "a83c716c-1d78-4a0e-aedf-bf5c56bd8891",
      "credentials": {
        "telegramApi": {
          "id": "l6SGVI94oGHFzcJo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "={{ $json[0].home + ' vs ' + $json[0].away + ' - ' + $json[0].prediction }}",
        "additionalFields": {
          "parse_mode": ""
        }
      },
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1240,
        -260
      ],
      "id": "79f8ece7-b262-400f-b5ea-1c6a55d10ea2",
      "webhookId": "2cb8817c-e28f-4deb-8535-9e21425f209f",
      "credentials": {
        "telegramApi": {
          "id": "l6SGVI94oGHFzcJo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Tu es un assistant qui aide à analyser les matchs de football. Tu utilises l'API Football pour obtenir des informations sur les matchs et fournir des analyses pertinentes. Quand un utilisateur te pose une question, utilise l'outil HTTP Request pour obtenir les données nécessaires de l'API Football.",
          "memory": true,
          "sessionId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        700,
        -260
      ],
      "id": "8538d3c3-92e0-4929-9f6a-03d036dfc72c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        -60
      ],
      "id": "dd2a8d1e-1422-4860-be08-6bf3769506fa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JR4acWZcTMM8QZwZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "k": 10,
        "memoryKey": "chat_history",
        "inputKey": "message",
        "outputKey": "response",
        "sessionKey": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "returnMessages": true
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        800,
        60
      ],
      "id": "07ae97fc-7421-42be-afba-09423c6f5902",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "https://api-football-v1.p.rapidapi.com/v3/fixtures",
        "options": {
          "headers": {
            "X-RapidAPI-Host": "api-football-v1.p.rapidapi.com",
            "X-RapidAPI-Key": "={{$credentials.rapidApiApi.apiKey}}"
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1000,
        0
      ],
      "id": "b263dfaf-9b78-43fd-9b57-d6b64d109481",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Simple Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "574b4c9c-fd60-4ce3-ad1d-d1d24c7eba2b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "844326358c172839d687733e2f8c7762d3f182c6df87618dc871a2c99391b140"
  },
  "id": "CkR1PDbAvFFABPNd",
  "tags": []
}